# Dependencias
node_modules/

# Archivos compilados
dist/

# Variables de entorno
.env

# Archivos de configuración local
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json